$country-aWidth: 150px;
.countries {
    min-height: 50px;
    margin-bottom: 40px;
    overflow: hidden;
}

.country {
    font-family: 'Gotham Light';
    font-size: 5.5em;
    font-weight: 100;
    letter-spacing: 18px;
    opacity: 0;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    @extend .text-shadow;
    will-change: transform;
    max-width: 570px;

    &.active {
        opacity: 1;
    }
}

.switcher {
    &[data-direction='right'] .country {
        &.active {
            animation: country-showLeft 0.5s forwards;
        }

        &.hide:not(.active) {
            animation: country-hideLeft 0.5s forwards;
        }
    }
    &[data-direction='left'] .country {
        &.active {
            animation: country-showRight 0.5s forwards;
        }

        &.hide:not(.active) {
            animation: country-hideRight 0.5s forwards;
        }
    }
}

@keyframes country-showLeft {
    0% {
        opacity: 0;
        transform: translate3d($country-aWidth, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes country-hideLeft {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(-$country-aWidth, 0, 0);
    }
}

@keyframes country-showRight {
    0% {
        opacity: 0;
        transform: translate3d(-$country-aWidth, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes country-hideRight {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d($country-aWidth, 0, 0);
    }
}

@media (max-width: $max-width-720) {
    .country {
        max-width: 100%;
    }
}

@media (max-width: $max-width-980) {
    .countries {
        margin-bottom:20px;
        .country{
            letter-spacing: 12px;
        }
    }
}
