
@font-face {
    font-family: 'Gotham Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Gotham Medium'),
    url('./fonts/gotham-rounded-medium.woff2') format('woff2'),
    url('./fonts/gotham-rounded-medium.woff') format('woff'),
    url('./fonts/gotham-rounded-medium.otf') format('truetype');
}

@font-face {
    font-family: 'Gotham Light';
    src: url(./fonts/GothamRounded-Light.otf);
}

@font-face {
    font-family: 'fontello';
    src: url('./fonts/fontelo/fontello.eot?38060306');
    src: url('./fonts/fontelo/fontello.eot?38060306#iefix') format('embedded-opentype'),
    url('fonts/fontelo/fontello.woff?38060306') format('woff'),
    url('fonts/fontelo/fontello.ttf?38060306') format('truetype'),
    url('fonts/fontelo/fontello.svg?38060306#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
