$max-width-480: 480px;
$max-width-720: 720px;
$max-width-980: 980px;
$max-width-1280: 1280px;
$bg-color-top: #f05c72;
$bg-color-bottom: #7a2ddc;
.switcher {
    font-size: 10px;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    background: linear-gradient(
            to bottom,
            $bg-color-top 0%,
            $bg-color-bottom 100%);

    .title {
        font-size: 7.5em;
        font-style: italic;
        margin-bottom: 20px;
        @extend .text-shadow;
    }
}

.shareroot {
    background: $bg-color-bottom;
    overflow: hidden;
    margin-top: 60px;

}

@media (max-width: $max-width-1280) {
    .switcher {
        font-size: 8px;
    }
}

@media (max-width: $max-width-980) {
    .container {
        height: auto !important;
    }

    .switcher {
        font-size: 6px;
    }
    .shareroot .container {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: $max-width-720) {
    .switcher {
        font-size: 6px;
        .whats {
            display: block;
        }
    }
    .shareroot {
        margin-top: 0;
    }
}

@media (max-width: $max-width-480) {

    .switcher {
        font-size: 4px;
    }
}
