#upload-btn a {
    font-family: 'Gotham Medium';
    font-size: 3.2em;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    padding: 15px 80px;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
    //@extend .text-shadow;
}

@media (max-width: $max-width-980) {
    #upload-btn a{
        font-size: 1.5em;
        width: 90%;
        padding:15px 0;
    }

}
