@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: 400;
  src: local("Gotham Medium"), url("./fonts/gotham-rounded-medium.woff2") format("woff2"), url("./fonts/gotham-rounded-medium.woff") format("woff"), url("./fonts/gotham-rounded-medium.otf") format("truetype"); }

@font-face {
  font-family: 'Gotham Light';
  src: url(./fonts/GothamRounded-Light.otf); }

@font-face {
  font-family: 'fontello';
  src: url("./fonts/fontelo/fontello.eot?38060306");
  src: url("./fonts/fontelo/fontello.eot?38060306#iefix") format("embedded-opentype"), url("fonts/fontelo/fontello.woff?38060306") format("woff"), url("fonts/fontelo/fontello.ttf?38060306") format("truetype"), url("fonts/fontelo/fontello.svg?38060306#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

.text-shadow, .switcher .title, .country, .tag, .arrow::before {
  text-shadow: 0 0 1px #000; }

.relative {
  position: relative; }

.switcher {
  font-size: 10px;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  background: linear-gradient(to bottom, #f05c72 0%, #7a2ddc 100%); }
  .switcher .title {
    font-size: 7.5em;
    font-style: italic;
    margin-bottom: 20px; }

.shareroot {
  background: #7a2ddc;
  overflow: hidden;
  margin-top: 60px; }

@media (max-width: 1280px) {
  .switcher {
    font-size: 8px; } }

@media (max-width: 980px) {
  .container {
    height: auto !important; }
  .switcher {
    font-size: 6px; }
  .shareroot .container {
    margin: 0;
    width: 100%; } }

@media (max-width: 720px) {
  .switcher {
    font-size: 6px; }
    .switcher .whats {
      display: block; }
  .shareroot {
    margin-top: 0; } }

@media (max-width: 480px) {
  .switcher {
    font-size: 4px; } }

.flags {
  min-height: 70px;
  margin-bottom: 40px; }

.flag {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  opacity: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 2px solid #fff;
  border-radius: 35px;
  will-change: transform; }
  .flag[data-country='bangladesh'] {
    background-image: url("../img/flags/Bangladesh.png"); }
  .flag[data-country='cambodia'] {
    background-image: url("../img/flags/Cambodia.png"); }
  .flag[data-country='fiji'] {
    background-image: url("../img/flags/Fiji.png"); }
  .flag[data-country='sri_lanka'] {
    background-image: url("../img/flags/Sri_lanka.png"); }
  .flag[data-country='papua_new'] {
    background-image: url("../img/flags/Papua_New_Guinea.png"); }
  .flag.active {
    opacity: 1; }

.switcher[data-direction='left'] .flag.active {
  animation: flag-rollRightShow 0.5s forwards; }

.switcher[data-direction='left'] .flag.hide:not(.active) {
  animation: flag-rollRightHide 0.5s forwards; }

.switcher[data-direction='right'] .flag.active {
  animation: flag-rollLeftShow 0.5s forwards; }

.switcher[data-direction='right'] .flag.hide:not(.active) {
  animation: flag-rollLeftHide 0.5s forwards; }

@keyframes flag-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes flag-rollRightShow {
  0% {
    opacity: 0;
    transform: translate3d(-80px, 0, 0) rotate(-90deg); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes flag-rollRightHide {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(80px, 0, 0) rotate(90deg); } }

@keyframes flag-rollLeftShow {
  0% {
    opacity: 0;
    transform: translate3d(80px, 0, 0) rotate(90deg); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes flag-rollLeftHide {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(-80px, 0, 0) rotate(-90deg); } }

.countries {
  min-height: 50px;
  margin-bottom: 40px;
  overflow: hidden; }

.country {
  font-family: 'Gotham Light';
  font-size: 5.5em;
  font-weight: 100;
  letter-spacing: 18px;
  opacity: 0;
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  will-change: transform;
  max-width: 570px; }
  .country.active {
    opacity: 1; }

.switcher[data-direction='right'] .country.active {
  animation: country-showLeft 0.5s forwards; }

.switcher[data-direction='right'] .country.hide:not(.active) {
  animation: country-hideLeft 0.5s forwards; }

.switcher[data-direction='left'] .country.active {
  animation: country-showRight 0.5s forwards; }

.switcher[data-direction='left'] .country.hide:not(.active) {
  animation: country-hideRight 0.5s forwards; }

@keyframes country-showLeft {
  0% {
    opacity: 0;
    transform: translate3d(150px, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes country-hideLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(-150px, 0, 0); } }

@keyframes country-showRight {
  0% {
    opacity: 0;
    transform: translate3d(-150px, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes country-hideRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(150px, 0, 0); } }

@media (max-width: 720px) {
  .country {
    max-width: 100%; } }

@media (max-width: 980px) {
  .countries {
    margin-bottom: 20px; }
    .countries .country {
      letter-spacing: 12px; } }

.tag {
  font-family: 'Gotham Medium';
  font-size: 3.2em;
  text-decoration: none;
  font-style: italic;
  color: #fff;
  letter-spacing: -1px; }
  .tag:nth-child(1) {
    margin-right: 100px; }

@media (max-width: 980px) {
  .tag {
    font-size: 4.5em; }
    .tag:nth-child(1) {
      margin-right: 8%; } }

.arrow {
  height: 100px;
  line-height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  cursor: pointer;
  transition: transform 0.5s; }
  .arrow::before {
    font-family: fontello;
    font-size: 12em;
    display: inline-block;
    height: 100px;
    line-height: 100px; }
  .arrow.left {
    left: 8%; }
    .arrow.left::before {
      content: '\e801'; }
    .arrow.left:hover {
      transform: translate3d(-10%, 0, 0); }
  .arrow.right {
    right: 8%; }
    .arrow.right::before {
      content: '\e800'; }
    .arrow.right:hover {
      transform: translate3d(10%, 0, 0); }

@media (max-width: 980px) {
  .arrow.left {
    left: 5%; }
  .arrow.right {
    right: 5%; } }

@media (max-width: 720px) {
  .arrow.left {
    left: 2%; }
  .arrow.right {
    right: 2%; } }

#upload-btn a {
  font-family: 'Gotham Medium';
  font-size: 3.2em;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  padding: 15px 80px;
  border-radius: 10px;
  display: inline-block;
  margin: 0 auto; }

@media (max-width: 980px) {
  #upload-btn a {
    font-size: 1.5em;
    width: 90%;
    padding: 15px 0; } }

#gallery {
  margin-top: 40px; }

@media (max-width: 720px) {
  #gallery .sr-modal {
    max-width: 100%; } }
